// {
// 	"presets": [
// 		[
// 			"@babel/preset-env",
// 			{
// 				"targets": {
// 					"browsers": [
// 						"last 2 Chrome versions"
// 					]
// 				}
// 			}
// 		]
// 	]
// }

{
	"presets": ["@babel/preset-env"]
}
